services:
    _instanceof:
        Contao\CoreBundle\Framework\FrameworkAwareInterface:
            calls:
                - ["setFramework", ["@contao.framework"]]

        Symfony\Component\DependencyInjection\ContainerAwareInterface:
            calls:
                - ["setContainer", ["@service_container"]]
    
    contao_challonge.navigation_listener:
        class: Contao\ChallongeBundle\EventListener\NavigationListener
        arguments:
        - "@request_stack"
        - "@router"
        tags:
        - { name: contao.hook, hook: getUserNavigation }