services:
    contao_challonge.navigation_listener:
        class: denizgelion\ChallongeBundle\EventListener\NavigationListener
        arguments:
        - "@request_stack"
        - "@router"
        tags:
        - { name: contao.hook, hook: getUserNavigation }